@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

h1, h2, p, #typed {
  font-size: 25px !important;
  font-family: 'Source Code Pro', sans-serif !important;
}

#typed, .typed-cursor {
  font-size: 25px !important;
  font-family: 'Source Code Pro', sans-serif !important;
}

p {
  padding: 20px;
}

#aboutMe {
  height: 100vh;
  margin-bottom: -8px;
}

i {
  color: black;
}

i:hover {
  color: #333;
}

#about, #contact, #projects {
  margin-bottom: 0px;
}

a {
  color: inherit;
} 

.clark-icon {
  background-image: url('../images/me.JPG');
  background-size: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 767px) {
  h1, h2, p, #typed, .typed-cursor {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 1200px) {
  :root {
      --size: 1.4;
  }
}

#terminal.terminal-output {
	background:#333;
	padding:20px 20px 15px;
	max-width:640px;
}

a:link {
  text-decoration: none;
}
