@font-face{
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/SourceCodePro-Medium.otf.woff2') format('woff2'),
       url('../fonts/SourceCodePro-Medium.otf.woff') format('woff'),
       url('../fonts/SourceCodePro-Medium.otf') format('opentype'),
       url('../fonts/SourceCodePro-Medium.ttf') format('truetype');
}

.card {
  border: 0 !important;
}

.card-image {
  margin-top: -1rem;
  background-image: url("../images/bg.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, p, #typed {
  font-size: 30px !important;
  font-family: 'Source Code Pro', sans-serif !important;
  text-shadow: black 0.1em 0.1em 0.2em !important;
  color: white !important;
}

#typed {
  font-size: 25px !important;
  font-family: 'Source Code Pro', sans-serif !important;
  text-shadow: black 0.1em 0.1em 0.2em !important;
  color: white !important;
}

.typed-cursor {
  font-size: 24px !important;
  color: white !important;
}

p {
  padding: 20px;
}

#aboutMe {
  height: 100vh;
  margin-bottom: -8px;
}

i {
  color: #D3D3D3;
}

i:hover {
  color: #f7f7f7;
}

#about, #contact, #projects {
  margin-bottom: 0px;
}

a {
  color: inherit;
} 

#clark-icon:hover {
  border-color: #323940
}

#clark-icon {
  width: 275px;
  height: 275px;
  border-radius: 100%;
}

@media screen and (max-width: 767px) {
  #clark-icon {
    width: 200px;
    height: 200px;
  }

  h1, h2, p, #typed {
    font-size: 14px !important;
  }
  .typed-cursor {
    font-size: 15px !important;
  }
}

#aboutMe {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
     -moz-transition: opacity 1s ease-in;
      -ms-transition: opacity 1s ease-in;
       -o-transition: opacity 1s ease-in;
          transition: opacity 1s ease-in;
}

#aboutMe.load {
  opacity: 1;
}