@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

h1, h2, p, #typed {
  font-size: 30px !important;
  font-family: 'Source Code Pro', sans-serif !important;
}

#typed {
  font-size: 25px !important;
  font-family: 'Source Code Pro', sans-serif !important;
}

.typed-cursor {
  font-size: 24px !important;
}

p {
  padding: 20px;
}

#aboutMe {
  height: 100vh;
  margin-bottom: -8px;
}

i {
  color: black;
}

i:hover {
  color: #333;
}

#about, #contact, #projects {
  margin-bottom: 0px;
}

a {
  color: inherit;
} 

.clark-icon {
  background-image: url('../images/me.JPG');
  background-size: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 767px) {
  h1, h2, p, #typed {
    font-size: 19px !important;
  }

  .typed-cursor {
    font-size: 18px !important;
  }
}

#terminal.terminal-output {
  font-family: 'Source Code Pro', sans-serif;
	background:#333;
	padding:20px 20px 15px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	max-width:640px;
}

