@media only screen and (max-width: 768px) {
  #aboutMe {
    margin-top: 30px;
  }
}

p {
  padding: 20px;
}

#about {
  margin-bottom: 0px;
}

#contact {
  margin-bottom: 0px;
}

#projects {
  margin-bottom: 0px;
}